

<div class="container">

  <div class="row">
    <p *ngIf="name">Nombre: {{ name }}</p>
    <div class="col-md-2">
      <label class="form-label">Name Label: </label>
    </div>
    <div class="col-md-3">
      <input class="form-control" type="text" [(ngModel)]="name">
    </div>
    <div class="col-md-7"></div>
  </div>
  
  
  <div class="row">
    <div class="col">
      <app-form-new-item
        [selection]="selection" 
        (updateItemEvent)="updateCity($event)"
        (newItemEvent)="addNewCity($event)" 
        [label]="'City'">
      </app-form-new-item>
    </div>
    <div class="col">
      <label for="filter">Filter</label>
      <input class="form-control" name="filter" type="text" placeholder="Filter...." [(ngModel)]="criteria">
    </div>

  </div>

  <hr>
  <br>
  <div class="row">
    <div class="col">
      <!--Directiva estructural debido a que se modifica el DOM-->
      <app-cities *ngFor="let city of (cities | filter:criteria)" 
        (cityDeleteEvent)="onCityDelete($event)"  
        (citySelectedEvent)="onCitySelected($event)" 
        [city]="city" [selection]="selection">
      </app-cities>
    </div>
    
    <div class="col">
      Data:
      <div *ngIf="selection.name">
        <p>Your city is: {{ selection.name }}</p>
        <!-- <button (click)="clearSelection()">Clear your selection</button> -->
        <app-button (click)="clearSelection()" [color]="'blue'" [label]="'Clear your selection'"></app-button>
      </div>
    </div>
  </div>

  <br>

  <hr>
  <div class="row">

    <input type="text" (keypress)="onSearch()"> <!--solo sirve para saber cuantas veces se renderiza-->
    
    <hr>
    <!--Uso de pipes (hay 2 tipos, que se modifica cuando haya cambiado la transofrmacion -- puros y los que cambian de todas formas -- inpuros)-->
    <h2>Aqui presento algunos Pipes</h2>
    <p> My birthday is: {{'6/15/15, 9:30 AM' | date:'full' | uppercase}}</p>
    <p>{{ '999' | currency:'CLP' }}</p>
    <p>{{ '999' | currency:'EUR' }}</p>
    
    <hr>
    
  </div>
</div>

  